/* generle rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 20px;
  color: #23272a;
}

header{
  height: 80px;
  background-color: #3161E0;
  line-height: 80px;
}


.container{
  width: 90%;
  max-width: 1180px; 
  margin: 0 auto;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.btn{
  font-size: 14px;
  color: black;
  padding: 10px 15px;
  background-color: white;
  text-decoration: none;
  border-radius: 40px;
}

.btn.big{
  font-size: 18px;
  padding: 15px 20px;
}

.btn.black{
  background-color: black;
  color: white;
}

.btn:hover{
  color:cornflowerblue;
}

/* logo */
.logo, .main-nav{
  float: left;
}

.logo img{
  vertical-align: middle;
}

.main-nav{
  width: calc(100% - 202px);
  text-align: center;
}


/* menu */
.main-nav ul, .footer_list ul{
  list-style: none;
}

.main-nav ul li{
  padding: 0 15px;
  display: inline-block;
}

.main-nav ul li a, .footer_list ul li a{
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.main-nav ul li a:hover, .footer_list ul li a:hover{
  text-decoration: underline;
}

#accedi{
  float: right;
}

/* jumbo */

.jumbotron{
  height: 547px;
  background-image: url('../img/jumbo.png');
  background-size: cover;
}

.jumbotron .container{
  max-width: 800px;
  color: white;
  text-align: center;
  padding-top: 100px;
}

.jumbotron h1{
  font-size: 53px;
  margin-bottom: 40px;
}

.jumbotron p{
  margin-bottom: 30px;
  line-height: 35px;
}

.jumbotron .btn:first-of-type{
  margin-right: 20px;
}


/* MAIN */
main{
  width: 100%;
}

.float_img, .float_txt{
  margin-top: 100px;
}

/* Sezione dedicata all'immagine */
.float_img{
  width: 60%;
  min-height: 300px;
  float: left;
}

.float_img > img{
  width: 100%;
}

/* Sezione dedicata al testo */
.float_txt{
  width: 40%;
  min-height: 300px;
  float: left;
}

/* Titolo del contenuto */
.title_main{
  font-size: 41px;
  font-weight: 900;
  margin-bottom: 30px;
  display: block;
}

/* Contenuto */
.content_main{
  line-height: 35px;
}

.bg_grey{
  width: 100%;
  min-height: 700px;
  background-color: #F6F6F6;
}

.bg_white{
  width: 100%;
  min-height: 700px;
  background-color: white;
}

/* Contenuto della quarta sezione */
.unique_txt{
  padding-top: 100px;
  text-align: center;
}

.unique_img{
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}

/* Sezione del download */
.download_txt{
  background-image: url(../img/stars.svg);
  text-align: center;
}

#btn_main{
  text-align: center;
  margin-bottom: 100px;
}

.download_btn{
  background-color: #8EA1E2;
  color: white;
}

.download_btn:hover{
  color: black;
}


/* FOOTER */

footer{
  width: 100%;
  min-height: 700px;
  background-color: #23272A;
  color: #5865F2;
}

/* Primo conteiner footer */
footer .container:first-child{
  padding-bottom: 50px;
  border-bottom: 2px solid #5865F2;
}

.box_social{
  float: left;
  width: 25%;
  margin-top: 100px;
}

.footer_txt{
  font-size: 40px;
  font-weight: 900;
  line-height: 35px;
  margin-bottom: 15px;
}

.lingua img{
  width: 15%;
  vertical-align: middle;
}

.lingua{
  margin: 30px 0px;
}

.lingua span{
  color: white;
}

.lingua i{
  font-size: 10px;
}

.icon ul{
  list-style: none;
}

.icon ul li{
  display: inline-block;
  padding-right: 30px;
}

.icon ul li a i{
  font-size: 25px;
  color: white;
}

.footer_list{
  float: left;
  width: 13.5%;
  margin-top: 100px;
  margin-left: 15px;
  margin-left: 5%;
}

.footer_list ul li{
  padding-bottom: 15px;
}

/* Secondo conteiner footer */
footer .container:last-child{
  margin-top: 40px;
}

#registrati{
  float: right;
}

#registrati a{
  color: white;
  background-color: #5865F2;

}