/* generle rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 20px;
  color: #23272a;
}

header{
  height: 80px;
  background-color: #3161E0;
  line-height: 80px;
}


.container{
  width: 90%;
  max-width: 1180px; 
  margin: 0 auto;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.btn{
  font-size: 14px;
  color: black;
  padding: 10px 15px;
  background-color: white;
  text-decoration: none;
  border-radius: 40px;
}

.btn.big{
  font-size: 18px;
  padding: 15px 20px;
}

.btn.black{
  background-color: black;
  color: white;
}

.btn:hover{
  color:cornflowerblue;
}

/* logo */
.logo, .main-nav{
  float: left;
}

.logo img{
  vertical-align: middle;
}

.main-nav{
  width: calc(100% - 202px);
  text-align: center;
}


/* menu */
.main-nav ul{
  list-style: none;
}

.main-nav ul li{
  padding: 0 15px;
  display: inline-block;
}

.main-nav ul li a{
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.main-nav ul li a:hover{
  text-decoration: underline;
}

#accedi{
  float: right;
}

/* jumbo */

.jumbotron{
  height: 547px;
  background-image: url('../img/jumbo.png');
  background-size: cover;
}

.jumbotron .container{
  max-width: 800px;
  color: white;
  text-align: center;
  padding-top: 100px;
}

.jumbotron h1{
  font-size: 53px;
  margin-bottom: 40px;
}

.jumbotron p{
  margin-bottom: 30px;
  line-height: 35px;
}

.jumbotron .btn:first-of-type{
  margin-right: 20px;
}


/* MAIN */
main{
  width: 100%;
}

.float_img, .float_txt{
  margin-top: 100px;
}

.float_img{
  width: 60%;
  min-height: 300px;
  float: left;
}

.float_img > img{
  width: 100%;
}

.float_txt{
  width: 40%;
  min-height: 300px;
  float: left;
}


.title_main{
  font-size: 41px;
  font-weight: 900;
  margin-bottom: 30px;
  display: block;
}

.content_main{
  line-height: 35px;
}

.bg_grey{
  width: 100%;
  min-height: 700px;
  background-color: #F6F6F6;
}

.bg_white{
  width: 100%;
  min-height: 700px;
  background-color: white;
}

.unique_txt{
  padding-top: 100px;
  text-align: center;
}

.unique_img{
  width: 100%;
  text-align: center;
}

.download_txt{
  background-image: url(../img/stars.svg);
  text-align: center;
}

#btn_main{
  text-align: center;
  margin-bottom: 50px;
}

.download_btn{
  background-color: #8EA1E2;
  color: white;
}

.download_btn:hover{
  color: black;
}